@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>studentList</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <!-- New Code -->
     
           
        
        
    <!-- Ended-->

    <div>
        <table class="table table-bordered" style="width:100%">

            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Teacher's Id</th>
                <th>Admin's Id</th>
            </tr>


            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Email</td>
                    <td>@student.phone</td>
                    <td>@student.Gender</td>
                    <td>@student.username</td>
                    <td>@student.password</td>
                    <td>@student.T_Id</td>
                    <td>@student.A_Id</td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
